{% ckan_extends %}

{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
 {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
      {% endif %}
    </p>
    {% if res.get("manual_validation", "validated") != "validated" %}
      {{"Needs to be validated"}}

   {% endif %}
{% endblock %}
